@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@font-face {
  font-family: Billabong;
  src: url(../../assets/FontsFree-Net-Billabong.ttf);
}

nav {
  padding: 17px 7px;
  background: #fff;
   
  font-family: "Roboto", sans-serif;
  width: 100%;
  font-weight: lighter;

  z-index: 999;
  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    ul,
    .nav_menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      gap: 28px;
    }
    li {
      a {
        padding: 8px;
        letter-spacing: 0.2rem;
        font-size: 1.2rem;
        text-decoration: none;
        text-transform: uppercase;
        color: hsl(0, 0, 60%);
        transition: color 150ms ease-out;
        &:hover {
          color: hsl(0, 0, 1%);
        }
      }
    }
  }
}

.logo-text {
  font-size: 3rem;
  line-height: 1;

  position: relative;
  font-family: "Lobster";
  letter-spacing: -1.7px;
  font-weight: lighter;

  color: rgb(101, 100, 100);
  text-shadow: 2px 1px 2px #000;
  a {
    color: black;
    text-decoration: none;
  }

  &:after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    background: rgb(255, 255, 255);
    top: calc(100% / 2.5);
    margin-left: 14px;
    border-radius: 2px;
  }
}

.nav--button {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.9rem;
  margin-top: 2px;
  font-family: "Roboto", sans-serif;

  color: rgb(55, 55, 55) !important;

  background: rgb(255, 255, 255);
  transition-property: color, background;
  transition-duration: 0.11s;

  transition-timing-function: ease-out;

  cursor: pointer;
  &:hover {
    color: rgb(128, 127, 127) !important;
    transition: all 0.3s ease-in-out;
  }
  .register-button {
    &:hover {
      color: rgb(255, 255, 255) !important;
      transition: all 0.3s ease-in-out;
      background: black !important;
    }
  }
}

.user-logo {
  width: 30px;
  color: blue;
  height: 35px;
  font-size: 1rem;

  &:hover {
    color: red;
  }
}

.user-container {
  padding-top: 6x;
  font-size: 1rem;
}

.traspaso .mobile-navigation {
  display: none;
}
.wrap .mobile-navigation {
  display: none;
}

@media screen and (max-width: 115px) {
  .traspaso .navigation {
    display: none;
  }

  .traspaso .mobile-navigation {
    display: flex;

    align-items: center;
  }

  .traspaso .mobile-navigation .hamburger {
    position: absolute;

    right: 0;
    font-size: 3.3rem;
    cursor: pointer;

    color: rgb(77, 77, 77) !important;
  }

  .traspaso .mobile-navigation .closest {
    position: absolute;

    right: 0.529%;
    font-size: 3rem;
    cursor: pointer;
    color: rgb(77, 77, 77) !important;
  }

  #logoMobile {
    display: none;
  }

  .traspaso {
    opacity: 1;

    nav {
      ul {
        border-top: 1px solid #dbdbdb;
        display: flex;
        flex-direction: column;
        position: absolute;

        z-index: 9999 !important;
        top: 80.5px;
        right: 0;
        height: 2.3%;
        width: 100%;
        background-color: #fff;
        border-bottom: 1.99px solid #dbdbdb;

        li {
          padding: 0px 0;

          & a:hover {
            color: black;
          }
        }
      }
    }

    .logo-text {
      a {
        font-style: italic;
        color: rgb(101, 100, 100);
        text-shadow: 2px 1px 2px #000;
      }
    }
  }
}

@media screen and (max-width: 1115px) {
  .wrap .navigation {
    display: none;
  }

  .wrap .mobile-navigation {
    display: flex;

    align-items: center;
  }

  .wrap .mobile-navigation .hamburger {
    position: absolute;

    right: 0;
    font-size: 3.3rem;
    cursor: pointer;

    color: rgb(77, 77, 77) !important;
  }

  .wrap .mobile-navigation .closest {
    position: absolute;

    right: 0.529%;
    font-size: 3rem;
    cursor: pointer;
    color: rgb(77, 77, 77) !important;
  }

  #logoMobile {
    display: none;
  }

  .wrap {
    opacity: 1;

    nav {
      ul {
        border-top: 1px solid #dbdbdb;
        display: flex;
        flex-direction: column;
        position: absolute;

        z-index: 9999 !important;
        top: 80.5px;
        right: 0;

        width: 100%;
        background-color: #fff;
        border-bottom: 2px solid #dbdbdb;

        li:nth-child(1) {
          margin-top: 10px;
          margin-bottom: -5px;

          & a:hover {
            color: black;
          }
        }
      }
    }

    .logo-text {
      font-family: "Lobster";
      letter-spacing: -1.7px;
      font-weight: lighter;

      text-shadow: 1px 1px 2px #000;
      a {
        color: rgb(101, 100, 100);
        text-shadow: 2px 1px 2px #000;
      }
    }
  }
}
