@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

.containerzx {
  background: #34495e;
  text-align: center;
  font-family: "Droid Sans", sans-serif;
  z-index: 99999999999;
  min-height: 100vh;
}
.hache1 {
  color: #ecf0f1;
  text-shadow: 0px 2px 0px rgba(150, 150, 150, 1);
  z-index: 99999;
  margin-top: 10px;
}
.hache3 {
  color: skyblue;
  margin-top: 10px;
  cursor: pointer;

  &:hover {
    color: rgb(255, 255, 255);
    transition: all 0.5s ease;
  }
}
#err-icon {
  font-size: 80pt;
  color: #bdc3c7;
  margin-top: 20%;
  text-shadow: 0px 3px 0px rgba(150, 150, 150, 1);
  -webkit-transition: 0.5s;
  z-index: 99999;
  cursor: pointer;
}
#err-icon:hover {
  -webkit-transform: scale(1.1);
  color: #e74c3c;
  text-shadow: 0px 3px 0px rgba(192, 57, 43, 1);
}
.pe {
  color: rgba(189, 195, 199, 1);
  font-weight: bold;
  z-index: 99999;
  margin-top: 10px;
}

@media screen and (max-width: 735px) {
  .containerzx {
    background: #34495e;
    text-align: center;
    font-family: "Droid Sans", sans-serif;
    z-index: 99999999999;
  }
  #err-icon {
    font-size: 80pt;
    color: #bdc3c7;
    margin-top: 72%;
    text-shadow: 0px 3px 0px rgba(150, 150, 150, 1);
    -webkit-transition: 0.5s;
    z-index: 99999;
  }
}
