@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans";
  background-color: #fafafa;
  height: 100%;
 
}

@media screen and (max-width: 672px) {
  body {
    overflow: auto;
  }
}

