@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans";
  background-color: rgb(255, 255, 255);
   overflow: hidden !important;
}

.App {
  overflow-x: hidden;
}

@media screen and (max-width: 909px) {
  body {
    overflow-x: hidden;
  }
}
