@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
 
body {
  font-family: "Open Sans";
  background-color: #ffffff;
  height: 100%;

}

 

@media screen and (max-width: 909px) {
  body {
    overflow-x: hidden;
  }
}
