 .shop-page {
   width: 100%;
   padding:0 10px 20px 10px;
 }

 .title-collection {
   margin-top: 5%;
   margin-bottom: 7%;
   color: black;
    
 }

 @media screen and (max-width: 909px) {
  .shop-page {
    width: 100%;
    padding:0 60px 10px 0;
    
  }
 
   
 }